@model KoroneLibrary.Models.Article

<head>
    <link rel="stylesheet" type="text/css" href="~/css/article/article-read.css" />
</head>


@{
    ViewData["Title"] = "编辑";
}
@{
    var BreadCrumbDict = new List<string>();
    BreadCrumbDict.Add($"{Model.Grade}");
    BreadCrumbDict.Add($"{Model.Unit}");
    BreadCrumbDict.Add($"{Model.Author}");
    var tagList = Model.Tag.Split(",;.");
    foreach (var item in tagList)
    {
        BreadCrumbDict.Add(item);
    }
}

<div class="container">
    <div class="body-paper">
        <div class="triangle"></div>
        <div class="container">
            <div class="bread-crumb float-right">
                @{ foreach (var item in BreadCrumbDict)
                    {
                        <a class="badge badge-secondary" href="/Article/Search/?searchword=@item">@item</a>
                    }
                }
            </div>
            <div class="h4 text-center">
                @Model.Title
            </div>
            <div class="p-1 text-right">
                @Model.Author
            </div>
            <div class="p-1 text-info text-right">
                @Model.Grade-@Model.Unit
            </div>
            <div class="text-body">
                @Model.Body
            </div>

            <hr />
            @if(Model.Node!=null)
            {
            <table class="node table table-striped font-weight-light">
                <thead>
                    <tr>
                        <th>注释</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Node != null)
                    {
                        @foreach (var item in Model.Node)
                        {
                            <tr>
                                <th>[@item.Key] @item.Value</th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
