@model KoroneLibrary.Models.Article

<head>
    <link rel="stylesheet" type="text/css" href="~/css/article/article-read.css" />
</head>


@{
    ViewData["Title"] = Model.Title??"";
}
@{
    var BreadCrumbDict = new List<string>();
    BreadCrumbDict.Add($"{Model.Grade}");
    BreadCrumbDict.Add($"{Model.Unit}");
    if (!String.IsNullOrEmpty(Model.Tag))
    {
        var tagList = Model.Tag.Split("；");
        Console.WriteLine(Model.Tag);
        foreach (var item in tagList)
        {
            BreadCrumbDict.Add(item);
            Console.WriteLine(item);
        }
    }
}
<div class="container">
    <div class="body-paper">

        <div class="bread-crumb float-right m-2">
            @{ foreach (var item in BreadCrumbDict)
                {<a class="badge badge-secondary" href="@Url.Action("Search",new{searchword=@item})">@item</a>
            }
            }
        </div>
        <div class="triangle"></div>
        <div class="container">
            <div class="h4 text-center">
                @Model.Title
            </div>
            <div class="p-1 text-center">
                <a href="/Article/Search/?searchword=@Model.Author" class="lead">@Model.Author</a>
            </div>

            <div id="bodybox" class="text-body">
                @Html.DisplayFor(Modle => Model.Body)
            </div>

            <hr />
            @if (Model.Node != null)
            {
                <table class="node table table-striped font-weight-light">
                    <thead>
                        <tr>
                            <th class="font-weight-light">注释</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Node != null)
                        {
                            @foreach (var item in Model.Node)
                            {
                                <tr>
                                    <th class="font-weight-light">[@item.Key] @item.Value</th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
        <a class="btn btn-primary float-right" href="@Url.Action("Edit",new { id = Model.Uuid })">编辑</a>
    </div>
</div>