@model IList<KoroneLibrary.Models.Article>;
@{
    ViewData["Title"] = "检索";
}
<div class="container">
    <h1>文档检索</h1>
    <div class="container-fluid">

        <div class="input-group mr-3" style="margin-top:40px">
            <input type="text" class="form-control" placeholder="请输入若干关键词并用空格隔开" aria-label="搜索" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-secondary" type="button">搜索</button>
            </div>
        </div>
        <p class="attribute" style="float:right"><a asp-controller="Home" asp-action="About">想要精确搜索?请参阅搜索帮助</a></p>
    </div>
    <table class="table table-hover">
        <tr>
            <td>
                文档
            </td>
            @if ((bool)ViewData["Search"] == true)
            {
                <td class="w-50">
                    匹配结果
                </td>
            }
            <td style="width:10em">
                操作
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>
                        @item.Title
                    </h4>
                    <p>@item.Author @item.Tag @item.Grade</p>
                </td>
                @if ((bool)ViewData["Search"] == true)
                {
                    <td>
                        <table class="table table-sm">
                            @if (!string.IsNullOrEmpty(item.Grade))
                            {
                                    <tr><td>年级</td><td>@item.Grade</td></tr>
                            }
                            @if (!string.IsNullOrEmpty(item.Unit))
                            {
                                    <tr><td>单元</td><td>@item.Unit</td></tr>   
                            }
                            @if (!string.IsNullOrEmpty(item.Index))
                            {
                                    <tr><td>课文号</td><td>@item.Index</td></tr>
                            }
                            @if (!string.IsNullOrEmpty(item.SubIndex))
                            {
                                    <tr><td>子课文号</td><td>@item.SubIndex</td></tr>
                            }
                            @if (!string.IsNullOrEmpty(item.Author))
                            {
                                    <tr><td>作者</td><td>@item.Author</td></tr>   
                            }
                            @if (!string.IsNullOrEmpty(item.Tag))
                            {
                                    <tr><td>标签</td><td>@item.Tag</td></tr>   
                            }
                            @if (!string.IsNullOrEmpty(item.Body))
                            {
                                    <tr><td>正文</td><td>@item.Body</td></tr>
                            }
                            @if(item.Node != null)
                            {
                                foreach(var node in item.Node)
                                {
                                    <tr><td>@node.Key</td><td>@node.Value</td></tr>
                                }
                            }
                        </table>
                    </td>
                }
                <td style="width:10em">
                    <a asp-action="Index">查看</a>
                    <a asp-action="Index">删除</a>
                    <a asp-action="Index">修改</a>
                </td>
            </tr>
        }
    </table>
</div>